<configuration>

    <appender name="myLogs" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/Users/xxnlnnpa/Documents/DLTE-JAVA-FULLSTACK-AKASH-2024/DLTE-Java/Update 2.0/EmployeeMainImplementation/Logs/employeimplemntations.log</file> <!-- Define log file name and path -->

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>C:/Users/xxnlnnpa/Documents/DLTE-JAVA-FULLSTACK-AKASH-2024/DLTE-Java/Update 2.0/EmployeeMainImplementation/Logs/employeimplemntations-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>2KB</maxFileSize>
            <totalSizeCap>6KB</totalSizeCap>
            <maxHistory>1</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Define archive appender -->
    <appender name="myLogsArchive" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/Users/xxnlnnpa/Documents/DLTE-JAVA-FULLSTACK-AKASH-2024/DLTE-Java/Update 2.0/EmployeeMainImplementation/Logs/Archive/employeimplemntations.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>C:/Users/xxnlnnpa/Documents/DLTE-JAVA-FULLSTACK-AKASH-2024/DLTE-Java/Update 2.0/EmployeeMainImplementation/Logs/Archive/logarchive/employeimplemntations-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>3KB</maxFileSize>
            <totalSizeCap>3KB</totalSizeCap>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger settings -->
    <root level="INFO">
        <appender-ref ref="myLogs" /> <!-- Attach file appender -->
        <appender-ref ref="myLogsArchive" /> <!-- Attach archive appender -->
    </root>

</configuration>